.vscode/
release
voicevox-caller/src/last_error.txt
voice-list-generator/tuinavo/zip/*.zip
voice-list-generator/tuinavo/Saki_zip/*.zip
voice-list-generator/tuinavo/Saki_wav/
voice-list-generator/*/wav
voice-list-generator/tuinavo/ex
aivos-caller/error_log.txt
